/** typography **/

@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');

body {
  font-family: 'Ysabeau', sans-serif;
  margin: 0px;
}

hr {
  margin: 2rem orem;
}

.title {
  text-align: center;
  font-size: x-large;
  padding: 3rem;
  background: linear-gradient(180deg, #bef264 0%, #ecfccb 100%);
}

/** container **/

.container {
  padding: 1rem 1rem;
}

/** link **/

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

/** list **/

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/** section **/

.section {
  padding: 1rem;
  background-color: white;
}

img {
  max-width: 350px;
  display: block;
  margin: auto;
  image-resolution: 1080p;
  padding-top: 2rem;
}

/** footer **/

.footer {
  background: linear-gradient(0deg, #bef264 0%, #ecfccb 100%);
  padding: 2rem 1rem;
  text-align: center;
  color: black;
}

.footer .link {
  color: black;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer .git-img {
  max-width: 2rem;
  display: inline;
  margin: auto;
}

.footer .linkedin-img {
  max-width: 2rem;
  display: inline;
  margin: auto;
}
